.nav-bars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: teal;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul.li {
 flex: 1;
 color: white;
}
ul {
  list-style-type: none;
}

